<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="style/style.css" rel="stylesheet">
<link href="style/fonts.css" rel="stylesheet" />
<link href="style/style.add.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.fileupload/js/tmpl.min.js"></script>
<script src="js/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload/js/jquery.fileupload.js"></script>
<script src="js/jquery.fileupload/js/jquery.fileupload-process.js"></script>
<script src="js/jquery.fileupload/js/jquery.fileupload-validate.js"></script>
<script src="js/jquery.fileupload/js/jquery.fileupload-ui.js"></script>
<script src="js/site.js"></script>

<script type="text/javascript">
  $(window).load(function() {
    $('.fileupload').fileupload({
        url: 'js/jquery.fileupload/server/php/',
        acceptFileTypes: /(\.|\/)(doc|pdf|xls)$/i,
        autoUpload: true
    });

  });
</script>

</head>
<body style="overflow-x: hidden;">
<div class="popup_ajax">
	<header>
		<div class="close">Esc или <a href="javascript:parent.jQuery.fancybox.close();"><span>закрыть</span></a></div>
		<h2>Стать автором</h2>
		<div class="Clear"></div>
	</header>
	<form method="POST" name="rform" class="fileupload" enctype="multipart/form-data">
  <div class="uniForm">
    <div class="item-long">
      <b>Фамилия Имя Отчество <span>*</span></b>
			<input type="text" name="fio" class="textfield" value="">
		</div>
		<div class="item">
      <b>Электронная почта <span>*</span></b>
			<input type="text" name="email" class="textfield" value="">
		</div>
		<div class="item">
      <b>Контактный телефон <span>*</span></b>
			<input type="text" name="tel" class="textfield" value="">
		</div>                                                   
		<div class="item-long">
      <b>О себе <span>*</span></b>
			<textarea name="mes" class="textfield"></textarea>
		</div>
    
    <div class="form-files fc">
      <h3>Загрузка статей</h3>
      <div class="hint">
        Загружать можно только файлы с расширением .doc, .pdf и .xls<br />
        Перед загрузкой убедитесь, что оформление соответствует <a href="#">требованиям</a>.
      </div>
    	<div class="files-list">
    	    <table role="presentation">
    	        <tbody class="files">
    	        </tbody>
    	    </table>
    	</div>
    	<div class="window-import-link">
    	    <div class="fileinput-button">
    	        <span>Загрузить еще</span>
    	        <input type="file" name="files[]" multiple="">
    	    </div>
    	</div>
    </div>

		<div class="item">
      <b>Код с картинки</b>
			<input type="text" name="captcha_word" class="textfield" value="">
		</div>
		<div class="item">
      <b><br><input type="hidden" name="captcha_code" value="092e8655c35c93065b418ff14d79c978"></b>
			<img src="/bitrix/tools/captcha.php?captcha_code=092e8655c35c93065b418ff14d79c978">
		</div> 
		<div class="item-long">
				<div class="form-buttons fc">
					<input type="submit" class="btn1" name="sendform" value="Отправить">
          <a href="javascript:parent.jQuery.fancybox.close();" class="btn3 button-cancel">Отмена</a>
				</div>
        <span>*</span> – обязательные для заполнения поля
		</div>
	</div>
  </form>
  
	<script type="text/javascript">
		$(function(e) {
			initHint();
			initChk();
			
			$(document).keydown(function(e) {
				if(e.keyCode == 27) {
					jQuery.fancybox.close();
				}
			});
		});
	</script>
</div>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td><div class="files-item-icon {% if (file.name.toLowerCase().indexOf("xls") != -1) { %} files-item-icon-xls {% } %} {% if (file.name.toLowerCase().indexOf("doc") != -1) { %} files-item-icon-doc {% } %} {% if (file.name.toLowerCase().indexOf("pdf") != -1) { %} files-item-icon-pdf {% } %} {% if (file.error) { %} files-item-icon-error{% } %}"></div></td>
            <td><div class="files-item-name"><div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar" style="width:0"></div></div><span>{%=file.name%}</span></div></td>
            <td>
                {% if (!i) { %}
                <button class="cancel files-item-stop"></button>
                {% } %}
                <div class="files-item-error error"></div>
            </td>
        </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td><div class="files-item-icon {% if (file.name.toLowerCase().indexOf("xls") != -1) { %} files-item-icon-xls {% } %} {% if (file.name.toLowerCase().indexOf("doc") != -1) { %} files-item-icon-doc {% } %} {% if (file.name.toLowerCase().indexOf("pdf") != -1) { %} files-item-icon-pdf {% } %} {% if (file.error) { %} files-item-icon-error{% } %} "></div></td>
            <td><div class="files-item-name"><span>{%=file.name%}</span></div></td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="delete files-item-del" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}></button>
                {% } %}

                {% if (file.error) { %}
                    <div class="files-item-error">— загрузка файла не удалась<!-- из-за<span>{%=file.error%}</span>--></div>
                {% } %}
            </td>
        </tr>
    {% } %}
</script>


</body></html>