@charset "utf-8";
/* CSS Document */

/*select*/
.CFEselect {display:inline-block; height:35px; position:relative;}

.CFEselect_lItem,
.CFEselectTextItem,
.CFEselect_rItem {background:url(../images/cfelement/cfe_selects.png) no-repeat; display:inline-block; vertical-align:top; cursor:pointer; font:14px 'PTSans'; color:#000000; line-height:35px;}

.CFEselect_focus .CFEselect_lItem,
.CFEselect_focus .CFEselectTextItem,
.CFEselect_focus .CFEselect_rItem {background:url(../images/cfelement/cfe_selects_focus.png) no-repeat;}

.CFEselect_disabled .CFEselect_lItem,
.CFEselect_disabled .CFEselectTextItem,
.CFEselect_disabled .CFEselect_rItem {background:url(../images/cfelement/cfe_selects_dis.png) no-repeat; cursor:default; color:#000000;}

.CFEselect .CFEselect_lItem {width:10px; height:100%;}
.CFEselect .CFEselect_rItem {width:35px; height:100%; background-position:right 0;}

.CFEselect .CFEselectTextItem {background-position:0 -35px; background-repeat:repeat-x; height:100%; overflow:hidden;}
.CFEselect .CFEselectTextItem .CFEselectText {display:inline-block; overflow:hidden; white-space:nowrap; -moz-user-select:none; -webkit-user-select:none; -khtml-user-select:none; user-select:none;}

.CFEselectListContainer {position:absolute; top:35px; left:0; width:100%; visibility:visible;}
.CFEselectListContainer .CFEList {position:relative; z-index:1;}
.CFEselectList {border:1px solid #dcdcdc; background-color:#ffffff; overflow:auto; overflow-x:hidden; position:relative;}
.CFEselectListItem {width:150%; cursor:pointer; white-space:nowrap; font:14px 'PTSans';}
.CFEselectListItem .CFEselectListItemText {display:inline-block; padding:0 10px; line-height:24px;}

.CFEselectedItem {cursor:default; background-color:#f2f2f2; color:#000000;}
.CFEselectListItemHover {background-color:#f2f2f2; color:#000000;}

.CFEselectListItemDisabled {color:#999999; cursor:default;}

/*scroll*/
.CFEselectListContainer .CFEselectList.CFEcustomScroll {overflow:hidden;}

.CFEscroll {width:15px; height:100%; position:absolute; right:0; top:0; background-color:#fbfbfb; z-index:2; overflow:hidden;}

.CFEscroll .CFEarrowUp,
.CFEscroll .CFEarrowDown,
.CFEscroll .CFEsliderTrack,
.CFEscroll .CFEsliderTrack .CFEslider {background:url(../images/cfelement/cfe_scroll.png) no-repeat;}

.CFEscroll .CFEarrowUp,
.CFEscroll .CFEarrowDown {width:11px; height:11px; overflow:hidden; position:absolute; cursor:pointer;}

.CFEscroll .CFEarrowUp {top:1px; right:2px;}
.CFEscroll .CFEarrowDown {background-position:-11px top; bottom:2px; right:2px;}

.CFEscroll .CFEsliderTrack {position:absolute; width:100%; background-position:-22px top; background-repeat:repeat-y;}
.CFEscroll .CFEsliderTrack .CFEslider {position:absolute; top:0; left:4px; width:7px; height:auto; min-height:10px; cursor:pointer; background-position:-37px top; background-repeat:repeat-y;}
/*scroll*/

/*checkbox, radio*/
.CFEcheckbox, .CFEradio {background:url(../images/cfelement/cfe_chk_radio.png) no-repeat;}
.CFEcheckbox_disabled, .CFEradio_disabled {background:url(../images/cfelement/cfe_chk_radio_dis.png) no-repeat;}

.CFEcheckbox {display:inline-block; width:15px; height:15px; position:relative;}
.CFEcheckbox_checked {background-position:-15px 0;}

.CFEradio {display:inline-block; width:15px; height:15px; position:relative; background-position:0 -15px;}
.CFEradio_checked {background-position:-15px -15px;}

form {display:inline-block; vertical-align:top;}

 
.tabsBlock dt .CFEselect_lItem,
.tabsBlock dt .CFEselectTextItem,
.tabsBlock dt .CFEselect_rItem {background:url(../images/cfelement/cfe_selects1.png) no-repeat; display:inline-block; vertical-align:top; cursor:pointer; font:12px 'PTSans'; color:#000000; line-height:35px;}

.tabsBlock dt .CFEselect_focus .CFEselect_lItem,
.tabsBlock dt .CFEselect_focus .CFEselectTextItem,
.tabsBlock dt .CFEselect_focus .CFEselect_rItem {background:url(../images/cfelement/cfe_selects1_focus.png) no-repeat;}

.tabsBlock dt .CFEselect_disabled .CFEselect_lItem,
.tabsBlock dt .CFEselect_disabled .CFEselectTextItem,
.tabsBlock dt .CFEselect_disabled .CFEselect_rItem {background:url(../images/cfelement/cfe_selects1_dis.png) no-repeat; cursor:default; color:#000000;}

.tabsBlock dt .CFEselect .CFEselect_lItem {width:10px; height:100%;}
.tabsBlock dt .CFEselect .CFEselect_rItem {width:35px; height:100%; background-position:right 0;}

.tabsBlock dt .CFEselect .CFEselectTextItem {background-position:0 -35px; background-repeat:repeat-x; height:100%; overflow:hidden;}
.tabsBlock dt .CFEselect .CFEselectTextItem .CFEselectText {display:inline-block; overflow:hidden; white-space:nowrap; -moz-user-select:none; -webkit-user-select:none; -khtml-user-select:none; user-select:none;}

.tabsBlock dt .CFEselectListItem {width:150%; cursor:pointer; white-space:nowrap; font:12px 'PTSans';}